use YAML qw/LoadFile DumpFile/;
use IO::All;
my ($texts, $questions) = LoadFile 'greatideas/cards.yaml';
my $a = $texts->{cars}->{1}->{problem};
my $b = $texts->{cars}->{1}->{'good idea'};
my $c = $texts->{cars}->{1}->{results};
my $d = $texts->{cars}->{1}->{conclusion};
my $io1 = io 'negotiations/transcript1.txt';
$io1->print( $a );
system( 'text2wave negotiations/transcript1.txt -eval "(voice_cmu_us_slt_arctic_hts)" -otype wav -o business.wav');
system( 'lame -h -V 0 business.wav ~/soundfiles/business/greatideacars1A.mp3' );
my $io2 = io 'negotiations/transcript2.txt';
$io2->print( $b );
system( 'text2wave negotiations/transcript2.txt -eval "(voice_ked_diphone)" -otype wav -o business.wav');
system( 'lame -h -V 0 business.wav ~/soundfiles/business/greatideacars1B.mp3' );
my $io3 = io 'negotiations/transcript3.txt';
$io3->print( $c );
system( 'text2wave negotiations/transcript3.txt -eval "(voice_cmu_us_awb_arctic_hts)" -otype wav -o business.wav');
system( 'lame -h -V 0 business.wav ~/soundfiles/business/greatideacars1C.mp3' );
my $io4 = io 'negotiations/transcript4.txt';
$io4->print( $d );
system( 'text2wave negotiations/transcript4.txt -eval "(voice_cmu_us_bdl_arctic_hts)" -otype wav -o business.wav');
system( 'lame -h -V 0 business.wav ~/soundfiles/business/greatideacars1D.mp3' );
