use YAML qw/LoadFile DumpFile/;
use IO::All;
my ($texts, $questions) = LoadFile 'dic.yaml';
my $a = $texts->[55]->[4];
my $b = $texts->[56]->[4];
my $c = $texts->[57]->[4];
my $d = $texts->[58]->[4];
my $io1 = io 'stress/transcript1.txt';
$io1->print( $a );
system( 'text2wave stress/transcript1.txt -eval "(voice_nitech_us_slt_arctic_hts)" -otype wav -o business.wav');
system( 'lame -h -V 0 business.wav ~/soundfiles/business/bradshawA.mp3' );
my $io2 = io 'stress/transcript2.txt';
$io2->print( $b );
system( 'text2wave stress/transcript2.txt -eval "(voice_nitech_us_rms_arctic_hts)" -otype wav -o business.wav');
system( 'lame -h -V 0 business.wav ~/soundfiles/business/bradshawB.mp3' );
my $io3 = io 'stress/transcript3.txt';
$io3->print( $c );
system( 'text2wave stress/transcript3.txt -eval "(voice_nitech_us_awb_arctic_hts)" -otype wav -o business.wav');
system( 'lame -h -V 0 business.wav ~/soundfiles/business/bradshawC.mp3' );
my $io4 = io 'stress/transcript4.txt';
$io4->print( $d );
system( 'text2wave stress/transcript4.txt -eval "(voice_nitech_us_clb_arctic_hts)" -otype wav -o business.wav');
system( 'lame -h -V 0 business.wav ~/soundfiles/business/bradshawD.mp3' );
