use YAML qw/LoadFile DumpFile/;
my ($texts, $questions) = LoadFile 'dic.yaml';
my @soundfiles = ( [ 211,
				"voice_nitech_us_rms_arctic_hts",
	"compA" ], [ 212,
				"voice_nitech_us_awb_arctic_hts",
	"compB" ], [ 213,
				"voice_nitech_us_clb_arctic_hts",
	"compC" ], [ 214,
				"voice_nitech_us_slt_arctic_hts",
	"compD" ],
	);

for ( @soundfiles ) {
	# my ( $text, $voice, $local ) = @$_;
	
	# my $text = io('transcript.txt')->print( "$texts->[$_->[0]]->[4]" );
	my $text = $questions->[$_->[0]]->[4];
	my $voice = $_->[1];
	my $local = "~/soundfiles/business/$_->[2].mp3";
	system( "echo \"$text\" |
		text2wave -eval \"($voice)\" -otype wav -o /tmp/business.wav"
		) == 0 or die "text2wave? $@,";
	system(	"lame -h -V 0 /tmp/business.wav $local" ) == 0 or
		die "lame? $@,";
}
