#!/usr/bin/perl

use strict;
use warnings;
use IO::All;
use YAML qw/LoadFile DumpFile/;
use Cwd;
use Encode;
use Encode::HanConvert;

$_REPL->load_plugin('DumpHistory');

(my $dir = getcwd) =~ s/^.*\/([^\/]*)$/$1/;

my $io = io 'awl_freq_7.txt';
my $w = $io->slurp;
my @w = split /\n/, $w;
 
my %t;
#for ( @w ) { $t{$_} = qx/tw gt.en-zh $_/; sleep 1 } ;
for ( @w[0..2] ) {
	$t{$_} = (simp_to_trad (decode_utf8( qx/tw gt.en-zh $_/ )));
	chomp $t{$_};
	sleep 1 }

DumpFile 'awl_freq_7.yaml.trad', \%t;
# my $y = LoadFile 'awl_freq_7.yaml.trad'
# $y->{$_} = simp_to_trad( $y->{$_} for keys %$y
# $y->{$_} = simp_to_trad( $y->{$_} ) for keys %$y
# $y
# DumpFile "awl_freq_7.yaml", $y
# my $y = LoadFile 'awl_freq_3.yaml'
# $y->{$_} = simp_to_trad( $y->{$_} ) for keys %$y
# $y
# DumpFile "awl_freq_3.yaml", $y
#  $y = LoadFile 'awl_freq_2.yaml'
# $y->{$_} = simp_to_trad( $y->{$_} ) for keys %$y
# DumpFile "awl_freq_2.yaml", $y
#  $y = LoadFile 'awl_freq_1.yaml'
# $y->{$_} = simp_to_trad( $y->{$_} ) for keys %$y
# DumpFile "awl_freq_1.yaml", $y
# :dump ../translate.rc
