#!/usr/bin/perl

use strict;
use warnings;

use Grades;
# my $script = Grades::Script->new_with_options( league => '.');
my $league = League->new( id => '.' );;
my $grades = Grades->new( league => $league );;
$grades->examGrade;
my $grade = $grades->examGrade;
my %id = map { $_->{id} => $_ } @{ $league->members };
my @report = map { "$id{$_}->{name}\t$_\t$grade->{$_}\n" } keys %id;
use IO::All;
my $io = io 'grades.yaml';
$io->print( @report );
$io->autoflush;
