#!/usr/bin/perl

use strict;
use warnings;
use IO::All;
use YAML qw/LoadFile DumpFile/;

my $league = LoadFile 'league.yaml';
my $member = $league->{member};
my $byrating = sub { $b->{rating} <=> $a->{rating} };
my @players = map { "$_->{id}\t$_->{name}\t$_->{rating}\t1\n" } sort $byrating @$member;
my $io = io '3round1.players';
$io->print( @players );
$io->autoflush;

