use YAML qw/LoadFile DumpFile/;

my @ids = qw/GL00031/;
my %leagues;
$leagues{$_} = LoadFile "/home/drbean/class/$_/league.yaml" for @ids;
my %member = map { my $league = $leagues{$_}; $_ => { map { $_->{id} => $_ } @{ $league->{member} } } } @ids;

my $standings = LoadFile '/var/www/cgi-bin/target/standings.yaml';

my %p1 = map {
	my $id = $_;
			map {
				$_ => $standings->{$id}->{$_}->{"undertaker"}
			} keys %{ $member{$id} }
	} @ids;

#my %p2 = map {
#	my $id = $_;
#			map {
#				$_ => $standings->{$id}->{$_}->{"jackson-2"}
#			} keys %{ $member{$id} }
#	} @ids;

my %g = map {
	my $id = $_;
			map {
				$_ => $p1{$_} > 150? 1: $p1{$_} > 50? 0.5: 0
			} keys %{ $member{$id} }
	} @ids;

# DumpFile 'homework/1.yaml', \%g;
# DumpFile 'homework/1kroenke1.yaml', \%p1;
# DumpFile 'homework/1kroenke2.yaml', \%p2;

=begin comment text

my $target = LoadFile "/home/drbean/class/BMA0099/league.yaml";
my %targetmember = map { $_->{id} => $_ } @{ $target->{member} };
my $targetstandings = LoadFile '/var/www/cgi-bin/target/standings.yaml';
my %targetp = map { $_ => $targetstandings->{BMA0099}->{$_}->{candidate} } keys %targetmember;
my %targetg = map { $_ => $targetp{$_} > 190? 2: $targetp{$_} > 20? 1: 0 } keys %targetmember;

=end comment tex

=cut

