[% META title = 'Picture List' -%]
<p>
Back to <a href="[% Catalyst.uri_for('/play/update/') _ id %]">[% title %] Exercise</a>
</p>

[% USE Dumper (indent => 1, varname => "ResponseDump", pad => "\n") %]

<h1> Response </h1>

[% Dumper.dump_html(response) %]

[% USE Dumper (indent => 1, varname => "RequestDump", pad => "\n") %]

<h1> Request </h1>

[% Dumper.dump_html(request) %]

<p>
Back to <a href="[% Catalyst.uri_for('/play/update/') _ id %]">[% title %] Exercise</a>
</p>
