To: {$address}
From: Dr Bean <drbean@freeshell.org>
Subject: Selling old textbook to new student

Please sell your old book to my new students.

Last semester I used the textbook, Market Leader
in your class--982MIA0009, 982BMA0076 or 982BMA0077.

This semester I am using the same book in 991MIA0014
and 991BMA0071.

I would like you to sell your old book to my new students.
You can do this by going to my Swap Shop web site,

http://e_learning.nuu.edu.tw/cgi-bin/shop/script_files/shop_cgi.pl/

Key in your name and email address on the
Sellers List or find someone in the Buyers List of 
people looking for the book.

Try the site out. There are no buyers there at the 
moment, but I announced the site in class last
week, so there should be some people looking for 
the book there in the next few weeks.

What do you think is a reasonable price to ask for the book?

I've forgotten how much the book was. I think 
probably half to two-thirds of the price you paid 
would be a good price to ask.

If you wrote a lot in the book, you would
ask less than that price. If it were in very good
condition, like-new, then you could ask for more.

I think some new students in 991BMA0071 gave 300NT dollars
to old students in 982BMA0076 for the book.

Anyway, try going to the web site, and having a look.
I enjoyed writing the web site, and I would like it
to get used.

You can delete your entry, There's a message which 
will be displayed. It says to check your email and 
to click on a link in an email from me. So, do 
that, and you will be delisted. This is to prevent 
people deleting entries which are not theirs.
