#!/usr/bin/perl

use YAML qw/LoadFile DumpFile Dump/;
$_REPL->load_plugin('DumpHistory');
use Scrappy;
use Moose::Autobox qw/flatten/;
use List::Util qw/first/;

my $m = Scrappy->new;
my $p = $m->parser;

my $us = LoadFile 'storycorps/story_urls.yaml';

my %c;

for my $url ( @$us[0..2] ) {
	$m->get( $url );
	(my $speakers = $url) =~ s(^.*/([a-z0-9-]*)/$)($1);
	my $content = $m->page_data;
	$p->html( $content );
	my $div = $p->select('div')->filter('id','html');
	my @transcript = map $_->{html}, first { $_->{id} eq 'transcript' } $div->data->flatten;

	# (my $transcript = $content) =~ s/^.*Interview transcript(.*)More stories.*$/$1/;
	# $transcript =~ tr/\x{2013}\x{2019}\x{201c}\x{201d}/-'""/;

	$c{$speakers} = $transcript[0];
}

# DumpFile 'content.yaml', \@u
# :dump content.rc;
