#!/usr/bin/perl

use YAML qw/LoadFile DumpFile Dump/;
$_REPL->load_plugin('DumpHistory');
use Scrappy;
use Moose::Autobox qw/flatten/;
use List::Util qw/first/;

my $m = Scrappy->new;
my $p = $m->parser;

my $us = LoadFile 'storycorps/story_urls.yaml';

my %c;

for my $url ( @$us ) {
	$m->get( $url );
	(my $speakers = $url) =~ s(^.*/([a-z0-9-]*)/$)($1);
	my $page = $m->page_data;
	$p->html( $page );
	my $divs = $p->select('div');

	my @dI;
	my $interator = sub { my $x = shift; return sub { $x++; return $x; } };
	my $i = $interator->(-1);
	my $find_trans = sub { 
		my $div = shift;
		my $n = $i->();
		push @dI, $n if $div->{id} and $div->{id} eq 'transcript' };

	$p->each( $find_trans );
	$p->html( $page );
	my @lines = $p->select('div')->focus($dI[0])->select('p')->data->flatten;
	my @text = map {
					$_->{text} =~ tr/\x{2013}\x{2018}\x{2019}\x{201c}\x{201d}/-''""/;
					$_->{text} =~ s/\x{2026}/.../g;
					$_->{text} =~ s/\x{2014}/--/g;
					my @line = split /\240 /, $_->{text};
					@line;
				 } @lines;
	$c{$speakers} = \@text;
}

# DumpFile 'more_content.yaml', \%c
# :dump content.rc;
