#!/usr/bin/perl

use YAML qw/LoadFile DumpFile Dump/;
$_REPL->load_plugin('DumpHistory');
use WWW::Mechanize;

my $m = WWW::Mechanize->new;
my $u = 'http://cdn.storycorps.org/listen/stories/';
my @month = (1..12);
my @y = (2004 .. 2012);

my (%p, @u);

for my $y ( @y ) {
	for my $month ( @month ) {
		next if $y == 2004 and $month == 1;
		$p{"$y-$month"} = $m->get($u . '/' . $y . '/' . $month . '/');
		my @l = $m->find_all_links( url_regex =>
			qr{storycorps.org/listen/stories/\w+(-\w+)*/$} );
		for (@l) {
			my $url = $_->url;
			push @u, $url if @u == 0 or $url ne $u[-1];
		}
	}
}

# DumpFile 'more_story_urls.yaml', \@u
# :dump scrape_story.rc;
