#!/usr/bin/perl

use strict;;
use warnings;;
use IO::All;;
use YAML qw/LoadFile DumpFile/;;

my $session = 'third';;
my $week = '221perhaps';;

use Grades;;
my $l = League->new( id => '.' );;
my $g = Grades->new( league => $l );;;
my $s = LoadFile '$session/${week}.work.yaml';

my $b = $g->beancans( $session );
my %m = map { $_->{id} => $_ } @$members;
my $n = $g->names2beancans( $session );
my %s;
for ( keys %m ) { my $b = $n->{$m{$_}->{name}}; $s{$b}++ if $s->{$_} };
my %g = map { $_ => { merits => $s{$_}, absences=>0, tardies=>0 } } keys %s;
DumpFile '$session/${week}.yaml', \%g;
