#!/usr/bin/perl

use strict;
use warnings;
use IO::All;
use YAML qw/LoadFile DumpFile/;

use Grades;
# my $script = Grades::Script->new_with_options( league => '.');
my $league = League->new( id => '.' );
my $g = Grades->new( league => $league );;
my $homework = $g->homework;
my %homework = map { $_ => $g->sprintround($homework->{$_}) } keys %$homework;
my $classwork = $g->groupwork;
my %classwork = map { $_ => $g->sprintround($classwork->{$_}) } keys %$classwork;
my $exams = $g->examGrade;
my %exams = map { $_ => $g->sprintround($exams->{$_}) } keys %$exams;

my $members = $league->members;
my %id = map { $_->{id} => $_ } @$members;
my %grade = map { $_ =>
	$g->sprintround(( $classwork->{$_} + $homework->{$_}  + $exams->{$_} ) / 3 )
	} keys %id;
my @report = map {
"$id{$_}->{name}" .
"\t$_\t$classwork{$_}" .
"\t$homework{$_}" .
"\t$exams{$_}\t$grade{$_}\n" } sort keys %id;
# local $, = '\n';
# my $io = io 'grades.tmp';
# $io->print( @report );
# $io->autoflush;

