#!/usr/bin/perl;

use 5.10.0;
use strict;
use warnings;
use IO::All;
use YAML qw/LoadFile DumpFile/;
use Cwd;
use POSIX qw/floor ceil/;

$_REPL->load_plugin('DumpHistory');

(my $dir = getcwd) =~ s/^.*\/([^\/]*)$/$1/;
use Grades;
my $l = League->new( leagues => '/home/drbean/class', id => $dir );
# my $g = Grades->new({ league => $l });
my %m = map { $_->{id} => $_ } @{ $l->members };

my $gs = LoadFile 'classwork/1/groups.yaml';
my @colors = sort keys %$gs;
my ( %g, @t, $m );
push @t, [ $m++, $m{$_}->{name} ] for sort keys %m;
my $fourth = ceil @t/4;
my $rumpPlayers = @t % 4;
my $rumpGroups = $rumpPlayers == 0?	0: 4 - $rumpPlayers;
my $half =	$rumpPlayers == 1?	ceil @t/2:
			$rumpPlayers == 2?	@t/2:
			$rumpPlayers == 3?	floor @t/2:
								@t/2 - 1;
if ( $rumpPlayers ) {
	for my $k ( 0 .. $rumpGroups -1 ) {
		$g{ $colors[ -1 -$k ] } = [ $t[$k]->[0],
								$t[ ( $half - $k ) ]->[0],
								$t[ -1 -$k ]->[0] ];
	}
}
for my $i ( $rumpGroups .. $fourth-1 ) {
	$g{ $colors[ $i - $rumpGroups ] } = [ $t[ $i ]->[0],
									$t[ $half - $i ]->[0],
									$t[ $#t - ( $half - $i ) ]->[0],
									$t[ -1 - $i ]->[0] ];
}

# DumpFile 'classwork/1/groups.yaml', \%g;
