#!/usr/bin/perl

use YAML qw/LoadFile Dump DumpFile/;
use Scrappy;
my $m = Scrappy->new;

my $urls = LoadFile 'inquire_form.yaml';

my %as;
for my $url ( @$urls ) {
	$m->get($url);
	my $name = $m->select('table tr')->focus(1)->scrape('td')->[0]->{text};
	$m->back;
	$as{$name} = $m->select( 'a href' )->data->[0]->{text};
}
