#!/usr/bin/perl

use WWW::Mechanize;
my $m = WWW::Mechanize->new;

my $url = 'http://sac.nuu.edu.tw/~drbean/inquire_form.html';
$m->get($url);
my @ls = $m->find_all_links;

my @as;
for my $l ( @ls ) {
	$m->get($l);
	push @as, $m->find_all_links( tag_regex => qr/a/i, url_regex => qr/href/i );
}
