#!/usr/bin/perl

use YAML qw/LoadFile Dump DumpFile/;
use Scrappy;
my $m = Scrappy->new;

my $urls = LoadFile 'inquire_form.yaml';

my %as;
for my $url ( @$urls ) {
	$m->get($url);
	my $name = $m->select('table tr')->focus(1)->scrape('td')->[0]->{text};
	$m->get($url);
	my $email = $m->select( 'table td')->focus(16)->scrape('a')->[0]->{href};
	$as{$name} = $email if $email;
}
