#!/usr/bin/perl

use YAML qw/LoadFile Dump DumpFile/;
use Scrappy;
use Try::Tiny;

my $m = Scrappy->new;

my $details_url = 
	'http://www.tealit.com/ad_categories.php?section_id=29&amp;subsection_id=3&amp;content_mode=3&amp;search_mode=5&amp;language=en&amp;content_id='
	;

my @content_ids = ( 22706, 23518, 23520, 23582, 23563, 23583, 23579, 23508, 23580, 23401,
	23506, 23578, 23507, 23499, 23501, 23576, 22691, 23504, 23574, 22737, 23492, 23493,
	22993, 23573, 23495, 23575, 23565, 23566, 23394, 23569, 23567, 23386, 23256, 23376,
	22594, 23036, 23558, 23561, 23557, 23564, 23552, 23554, 23556, 23559, 23341, 23562,
	23560, 23555, 23516, 23550 );
my %as;
my $n = 0;
for my $id ( @content_ids ) {
	my $url = $details_url . $id;
	my @hrefs;
	if ($m->get($url)->page_loaded) {
		$m->select('div div table')->focus(0)->select('tr td')->each(sub{
			push @hrefs, shift->{text};
		});
	}
	$as{$id} = \@hrefs;

	#$m->get($url);
	##my @ad_urls;
	## my $name = $m->select('table tr')->page_data;
	#my $name = try { $m->select('table')->data }
	#			catch { 'No tables' };
	##$m->get($url);
	##my $email = try { $m->select( 'table td')->focus(16)->scrape('a')->[0]->{href} }
	##			catch { '' };
	#$as{$n++} = $name;
}
