#!/usr/bin/perl

use strict;
use warnings;

use PostScript::Calendar;

my @mo = qw/jan feb mar apr may jun jul aug sep oct nov dec/;
my $cal;
# for my $n ( 0 .. $#mo ) {
for my $n ( 0 .. 1 ) {
	$cal = PostScript::Calendar->new(2013, $n+1,
		condense => 1, title_size => 12, paper => 'A7', landscape => 1,
		day_names => [ qw/Sun Mon Tue Wed Thu Fri Sat/ ]);
	$cal->output( $mo[$n] );
}
