#!/usr/bin/perl

use strict;
use warnings;

use PostScript::Calendar;

my $cal;
$cal = PostScript::Calendar->new(2012, 4, condense => 1, title_size => 12, paper => 'B8', landscape => 1, day_names => [ qw/Sun Mon Tue Wed Thu Fri Sat/ ]);
$cal->output('apr');
