#!/usr/bin/perl

use strict;
use warnings;
use IO::All;
use YAML qw/LoadFile Bless Dump DumpFile/;
use Cwd;

$_REPL->load_plugin('DumpHistory');

my $topic = 'WorkFood';
my $c;
$c = LoadFile "$topic/cards.yaml";
my $story1 = 'cronig';
my $story2 = 'lerman';
my $story3 = 'tyson';
my $form1 = 1;
my $form2 = 1;
my $form3 = 1;
my $q1 = $c->{$story1}->{compcomp}->{$form1}->{quiz};
my $q2 = $c->{$story2}->{compcomp}->{$form2}->{quiz};
my $q3 = $c->{$story3}->{compcomp}->{$form3}->{quiz};

my $n=0;
my %q1 = map { ++$n => $_->{question} } @$q1[0..3];
my %q2 = map { ++$n => $_->{question} } @$q2[0..3];
my %q3 = map { ++$n => $_->{question} } @$q3[0..3];

Bless( \%q3 )->keys( [ 9..12 ] );

DumpFile "$topic/compquestions.yaml", {
				$story1 => \%q1,
				$story2 => \%q2,
				$story3 => \%q3,
};
