#!/usr/bin/perl

use strict;
use warnings;
use IO::All;
use YAML qw/LoadFile DumpFile Dump/;
use Cwd;
use List::Util qw/first/;

my $round = '4';
my $session = 6;
my $previous_session = $session-1;

$_REPL->load_plugin('DumpHistory');

(my $dir = getcwd) =~ s/^.*\/([^\/]*)$/$1/;
use Grades;
use Grades::Groupwork;
my $l = League->new( leagues => '/home/drbean/012', id => $dir );
my $g = Grades->new({ league => $l });
my $co = Compcomp->new({ league => $l });
my $cl = $g->classwork;
my %m = map { $_->{id} => $_ } @{ $l->members };
my $approach = $l->approach;

my $b2 = $cl->beancans($previous_session);
my $b3  = $cl->beancans($session);
my $n2 = $cl->names2beancans($previous_session);
my $n3 = $cl->names2beancans($session);

my @keys = sort {$a <=> $b} keys %$b2;
my %group2order = map {
		my ($team, $group) = split '-', $_;
		$team--;
		$group--;
		$_ => { team => $team, group => $group, order => (2*$team+$group) } }
			@keys;
my %order2group = map { $group2order{$_}->{order} => $_ } keys %group2order;
my @n = map { $m{$_}->{name} } sort keys %m;
my %i = map { $_ => $l->ided($_) } @n;

my %p2 = map { my $n = $_ ; $n => first {$_ ne $n } @{$b2->{$n2->{$n}}} } @n;
my %p3 = map { my $n = $_ ; $n => first {$_ ne $n } @{$b3->{$n3->{$n}}} } @n;

my $yaml;
for my $n ( @n ) {
	my $g = $i{$n};
	my $p2 = $p2{$n};
	my $p3 = $p3{$n};
	$yaml->{$g}->[0] = "$n";
	$yaml->{$g}->[1] = "$p2";
	$yaml->{$g}->[2] = "$p3";
	# $yaml->{$g}->{A} = "$n";
	# $yaml->{$g}->{B} = "$p2";
	# $yaml->{$g}->{C} = "$p3";
	# $yaml->{$g}->{id} = $g;
}

DumpFile "exam/$round/groups.yaml", $yaml;

my %groups = map { my $group = $_;
					my $order = $group2order{$group};
					if ( $order % 3 == 0 ) {
						$order = -1 if $order == $#keys;
						my $othergroup = $order2group{$order+1};
						$p3{$group} = $b2->{$othergroup}->[0];
					}
					elsif ( $order % 3 == 2 ) {
						my $othergroup = $order2group{$order-1};
						$p3{$group} = $b2->{$othergroup}->[1];
					}
} @keys;

my $c = LoadFile "exam/$round/C.yaml";
my %p1 = map { $_ => $b2->{$_}->[0] } @keys;
%p2 = map { $_ => $b2->{$_}->[1] } @keys;
%p3 = map { $_ => $c->{$_} } @keys;

my @g = 
"\\documentclass[a4paper]{article}
\\usepackage[absolute]{textpos}
\\usepackage{tabto}
\\usepackage{multicol}
% \usepackage[absolute,showboxes]{textpos}
% \textblockorigin{0.00cm}{0.00cm} %HPDeskJet5160
% \textblockorigin{0.00cm}{0.50cm} %HPDeskJet5160
% \textblockorigin{0.15cm}{0.00cm} %HPDeskJet5160
\\textblockorigin{0.20cm}{0.40cm} %HPDeskJet5160
% \textblockorigin{1.65cm}{0.00cm} %kyocera
\\pagestyle{empty}
\\setlength{\\unitlength}{1cm}

\\newcommand{\\mysignup}[1]{
	\\begin{textblock}{16}(#1)
      $dir League Midterm Exam Groups
\\begin{tabbing}
\\hspace{1cm} \\= A  \\hspace{3cm}  \\= B \\hspace{3cm}  \\= C\\\\
\\> \\> \\> Name: \\hspace{1cm}  \\=ID \\hspace{2cm} \\=Order \\hspace{1cm} \\=CardID\\\\
\\end{tabbing}
\\vspace{-1.0cm}
\\normalsize
\\begin{description}
";
my $i = 0;

for ( @keys ) {
# for ( @n ) {
	$i++;
	# push @g, "$i. $_\t$i{$_}\t$p2{$_}\t$i{$p2{$_}}\t$p3{$_}\t$i{$p3{$_}}\n";
	# push @g, "$_\t$p1{$_}\t$i{$p1{$_}}\t$p2{$_}\t$i{$p2{$_}}\t_______\t_______\n";
	push @g,
"\\item [$_]
\\tabto{0.2cm} \\begin{normalsize}$p1{$_}\\end{normalsize} \\tabto{1.5cm} $i{$p1{$_}}
\\tabto{3.8cm} \\begin{normalsize}$p2{$_}\\end{normalsize} \\tabto{5.1cm} $i{$p2{$_}}
\\tabto{7.4cm} \\begin{large}$p3{$_}     \\end{large}      \\tabto{9.1cm} $i{$p3{$_}}
\\tabto{11.4cm} \\rule{1.0cm}{0.02cm}
\\tabto{13.0cm} \\rule{2.0cm}{0.02cm}
\\vspace{+0.00cm}\\\\\n";
}

push @g, "
\\end{description}\n
\\end{textblock}
}
\\begin{document}
\\mysignup{0,0}
\\end{document}\n";

io("exam/$round/groups.tex")->print( @g );
