#!/usr/bin/perl;

use strict;
use warnings;
use IO::All;
use YAML qw/LoadFile DumpFile Bless/;
use List::Util qw/sum/;
use Cwd;
use Grades;

use lib '../../swiss/web/lib';
use Swiss;
use Swiss::Model::DB;
use Swiss::Schema;


$_REPL->load_plugin('DumpHistory');

(my $dir = getcwd) =~ s/^.*\/([^\/]*)$/$1/;
my $l = League->new( leagues => '/home/drbean/class', id => $dir );
my $g = Grades->new({ league => $l });
my $pool = $l->yaml->{pool};
my %m = map { $_->{id} => $_ } @$pool;
my @roles = qw/White Black/;

my $connect_info = Swiss::Model::DB->config->{connect_info};
my $d = Swiss::Schema->connect( @$connect_info );

my $round = $d->resultset('Round')->find( { tournament => $dir } )
                ->value;

my $m = $d->resultset('Matches')->search({ tournament => $dir,
		round => $round });

my $players;
my $n = 0;
while ( my $match = $m->find({ pair => $n }) )  {
	my $pair = { White => $match->white, Black => $match->black };
	Bless( $pair )->keys( [ qw/White Black/ ] );
	$players->{ $n++ } = $pair;
}

my @tables = sort {$a<=>$b} keys %$players;
Bless( $players )->keys([ @tables ]); 
# DumpFile "comp/$round/members.yaml", $players;
