use #perl

use YAML qw/LoadFile DumpFile/;

my $genre = "business";
my $topic = "greatideas";
my @stories = qw/cars citrus internet/;
my $form  = 0;

my $exam = 4;

my $c = LoadFile "/home/drbean/class/$genre/$topic/cards.yaml";

my @q;

for my $story ( @stories ) {
	push @q, map { $_->{question} } @{ $c->{$story}->{compcomp}->{0}->{quiz} }

DumpFile "ex${exam}questions.yaml", \@q;
