use YAML qw/LoadFile DumpFile/;

my $league = LoadFile './league.yaml';
my $i = LoadFile './exam4/1/g.yaml';
my $ii = LoadFile './exam4/2/g.yaml';

my %member = map { $_->{id} => $_ } @{ $league->{member} };
my %g = map { $_ => ( $i->{$_} + $ii->{$_}  ) / 2 } keys %member;

