#!perl

use YAML qw/LoadFile DumpFile/;

my $genre = "conversation";
my $topic = "work";
my @stories = qw/dickson abreu smallwood jackson/;
my $form  = 0;

my $exam = 4;

my $c = LoadFile "/home/drbean/class/$genre/$topic/cards.yaml";

my @q;

for my $story ( @stories ) {
	push @q, map { $_->{question} } @{ $c->{$story}->{compcomp}->{0}->{quiz} }
}

DumpFile "ex${exam}questions.yaml", \@q;
