use YAML qw/LoadFile DumpFile/;

my $exam = 1;

my $league = LoadFile './league.yaml';
my $i = LoadFile "./exam/$exam/g.1.yaml";
my $ii = LoadFile "./exam/$exam/g.2.yaml";

my %member = map { $_->{id} => $_ } @{ $league->{member} };
my %g = map { $_ => ( $i->{grade}->{$_} + $ii->{grade}->{$_}  ) / 2 } keys %member;

