#!/usr/bin/perl

use strict;
use warnings;
use IO::All;
use YAML qw/LoadFile DumpFile/;
use Cwd; use File::Basename;

# $_REPL->load_plugin('DumpHistory');

use Net::Netrc;
use Net::FTP;

my $web = Net::Netrc->lookup('web.nuu.edu.tw');
my ($user, $passwd, $account) = $web->lpa;
my $ftp = Net::FTP->new('web.nuu.edu.tw');
$ftp->login( $user, $passwd );
$ftp->binary;
$ftp->ls;

# $ftp->delete($_) for map( "024.html", (0..0));
# $ftp->delete($_) for map( "02$_.html", (0..3));
my $report;
for (147) {
	my $file = "index.html";
	$ftp->delete($file);
	# push @$report = $ftp->ls($file);
}

# $ftp->delete($_) for map "016$_.html", ('b'..'m');
# $ftp->ls('fedora');
# $ftp->rmdir('fedora');
# $ftp->ls('fedora');
# $ftp->ls;

#my $dir = 'home';
#
#my @a = $ftp->ls($dir);
#$ftp->rmdir($_, 1) for @a;
#$ftp->ls('/local/lib/perl5/site_perl/5.10.0/i386-linux-thread-multi/auto');
#
#my $delete = sub { $ftp->delete( shift . "/.packlist" ) };
#
#my $dir;
#for my $a ( @a ) {
#	$dir = $a;
#	until ( $ftp->ls( $dir . "/.packlist" ) ) {
#		my @dirs = $ftp->ls( $dir . "/" );
#		$dir = $dirs[0];
#	}
#		$delete->( $dir );
#}
#
#for my $a ( @a ) {
#	$ftp->rmdir( $a, 1 );
#}
