#!/usr/bin/perl

my $session = 4;

use YAML qw/LoadFile DumpFile/;
my $l = LoadFile 'league.yaml';
my $m = $l->{member};
my %m = map { $_->{id} => $_ } @$m;
my $c = LoadFile "classwork/$session/groups.yaml";
my $grade = LoadFile "exam/$session/groupgrade.yaml";
my @gr = keys %$c;
my %gra;
for my $gr ( @gr ) { @gra{ @{ $c->{$gr} }} = ( $grade->{$gr} ) x 4 };
my %n = map { $m{$_}->{name} => $_ } keys %m;
my %graid = map {  $n{$_} => $gra{$_} } keys %n;
# DumpFile "exam/$session/g.yaml", \%graid;

# Remember Absent players get zero!!
