#!/usr/bin/perl

use strict;
use warnings;
use IO::All;
use YAML qw/LoadFile DumpFile/;
use Cwd;
use List::Util qw/sum/;

$_REPL->load_plugin('DumpHistory');

(my $dir = getcwd) =~ s/^.*\/([^\/]*)$/$1/;
use Grades;
my $l = League->new( leagues => '/home/drbean/021', id => $dir );
my $g = Grades->new({ league => $l });
my %m = map { $_->{id} => $_ } @{ $l->members };
my $approach = $l->approach;
my $cl = $g->classwork;

my $classwork1 = $cl->grades4session(1);
my $classwork2 = $cl->grades4session(2);
my $classwork3 = $cl->grades4session(3);
my $classwork4 = $cl->grades4session(4);
my %cw12 = map { $_ => $g->sprintround( (
	11.1 * $classwork1->{$m{$_}->{name}} +
	16.7 * $classwork2->{$m{$_}->{name}} )/2 ) } keys %m;
$cw12{activity} = "cw12";
my %cw34 = map { $_ => $g->sprintround( (
	11.1* $classwork3->{$m{$_}->{name}} +
	11.1 * $classwork4->{$m{$_}->{name}} )/2 ) } keys %m;
$cw34{activity} = "cw34";
my %hw = map { $_ => $g->hwforid($_) } keys %m;
my %hw12 = map { $_ => $g->sprintround( 
	10 * ( sum @{$hw{$_}}[0..4] ) ) } keys %m;
$hw12{activity} = "hw12";
my %hw34 = map { $_ => $g->sprintround( 
	8.3 * ( sum @{$hw{$_}}[5..10] ) ) } keys %m;
$hw34{activity} = "hw34";
my $grade = $g->grades;
$grade->{activity} = "grade";

my $ex = $g->examResultsasPercent;
my %mid_ex = map { $_=> $g->sprintround(
	( $ex->{$_}->[0] + $ex->{$_}->[1] ) / 2 ) } keys %m;
$mid_ex{activity} = "mid";
my %fi_ex = map { $_=> $g->sprintround(
	( $ex->{$_}->[2] + $ex->{$_}->[3] ) / 2 ) } keys %m;
$fi_ex{activity} = "fin";
DumpFile 'grades.txt', \%cw12, \%cw34, \%hw12, \%hw34, \%mid_ex, \%fi_ex, $grade;
