#!/usr/bin/perl

my $session = 4;

use YAML qw/LoadFile DumpFile/;
my $l = LoadFile 'league.yaml';
my $m = $l->{member};
my %m = map { $_->{id} => $_ } @$m;
my $c = LoadFile "classwork/$session/groups.yaml";
my $grade = LoadFile "exam/$session/groupgrade.yaml";
my @gr = keys %$c;
my %gra;
for my $gr ( @gr ) { @gra{ @{ $c->{$gr} }} = ( $grade->{$gr} ) x 4 };
my %n = map { $m{$_}->{name} => $_ } keys %m;
my %graid = map {  $n{$_} => $gra{$_} } keys %n;
# DumpFile "exam/$session/g.yaml", \%graid;

# Remember Absent players get zero!!
my $gg = LoadFile 'exam/1/groupgrade.yaml'
my %g = map { $_ => $gg->{$cl->name2beancan( 3, $m{${  } keys %m
my %g = map { $_ => $gg->{$cl->name2beancan( 3, $m{$_}->{name} ) }  } keys %m
DumpFile 'exam/1/g.yaml', \%g
$h->hwforid(
'V99410105')
$g->hwforid('V9941015')
$g->hwbyround
 %g = map { $_ => $gg->{$cl->name2beancan( 3, $m{$_}->{name} ) }  } keys %m
my $gg = LoadFile 'exam/1/groupgrade.yaml'
 %g = map { $_ => $gg->{$cl->name2beancan( 3, $m{$_}->{name} ) }  } keys %m
 %g = map { $_ => $gg->{$cl->name2beancan( 3, $m{$_}->{name} ) }  } sort keys %m
my $gg = LoadFile 'exam/1/groupgrade.yaml'
 %g = map { $_ => $gg->{$cl->name2beancan( 3, $m{$_}->{name} ) }  } sort keys %m 
my $y = LoadFile 'league.yaml'
my $m = $y->{member}
 %g = map { $_ => $gg->{$cl->name2beancan( 3, $m{$_}->{name} ) }  } sort keys %$m
 %g = map { $_ => $gg->{$cl->name2beancan( 3, $m{$_}->{name} ) }  } @$m
 %g = map { $_->{id} => $gg->{$cl->name2beancan( 3, $_->{name} ) }  } @$m
 %g = map { $_->{id} => $gg->{$cl->name2beancan( 3, $_->{name} ) }  } @$m
$l = League->new(id => 'FLA0007')
$g = Grades->new( {league => $l } )
 %g = map { $_->{id} => $gg->{$cl->name2beancan( 3, $_->{name} ) }  } @$m
$cl = $g->classwork
 %g = map { $_->{id} => $gg->{$cl->name2beancan( 3, $_->{name} ) }  } @$m
 %g = map { $_->{id} => $gg->{$cl->name2beancan( 3, $_->{name} ) }  } @$m
$l = League->new(id => 'FLA0007')
$g = Grades->new( {league => $l } )
$cl = $g->classwork
 %g = map { $_->{id} => $gg->{$cl->name2beancan( 3, $_->{name} ) }  } @$m
DumpFile 'exam/1/g.yaml', \%g
:dump ../rc/groupgrade.rc
