#!/usr/bin/perl

use strict;
use warnings;
use IO::All -encoding => 'UTF-8';
use YAML qw/LoadFile DumpFile/;
use Cwd;

$_REPL->load_plugin('DumpHistory');

(my $dir = getcwd) =~ s/^.*\/([^\/]*)$/$1/;
use Grades;
use Grades::Groupwork;
my $l = League->new( leagues => '/home/drbean/012', id => $dir );
my $g = Grades->new({ league => $l });
my $co = Compcomp->new({ league => $l });
my $cl = $g->classwork;
my %m = map { $_->{id} => $_ } @{ $l->members };
my $approach = $l->approach;

my %b = map { $m{$_}->{name} => $cl->name2beancan(14, $m{$_}->{name}) } keys %m;
my %i = map { $_ => "$_ $m{$_}->{Chinese} $m{$_}->{name}\t$b{$m{$_}->{name}}\n"} keys %m;
my @i;
push @i, $i{$_} for sort keys %i;
io("id2names_groups.txt")->print(@i);
