#!/usr/bin/perl

use strict;
use warnings;
use IO::All;
use YAML qw/LoadFile DumpFile/;
use Cwd;

$_REPL->load_plugin('DumpHistory');

# (my $dir = getcwd) =~ s/^.*\/([^\/]*)$/$1/;
# use Grades;
# my $l = League->new( leagues => '/home/drbean/class', id => $dir );
# my $g = Grades->new({ league => $l });
# my %m = map { $_->{id} => $_ } @{ $l->members };

my $io;
$io = io '../admin/991/991MIA0014.txt';
my @r = $io->slurp;
my @m = map { { id => $_->[0], Chinese => $_->[1], name => undef, password => undef, rating => 500 } } map { [ split /\s/, $_] } @r;
