#!/usr/bin/perl;

use strict;
use warnings;
use IO::All;
use YAML qw/LoadFile DumpFile/;
use List::Util qw/sum/;
use List::MoreUtils qw/any/;
use Cwd;

$_REPL->load_plugin('DumpHistory');

(my $dir = getcwd) =~ s/^.*\/([^\/]*)$/$1/;
use Grades;
my $l = League->new( leagues => '/home/drbean/class', id => $dir );
my $g = Grades->new({ league => $l });
my $pool = $l->yaml->{member};
my %m = map { $_->{id} => $_ } @$pool;
my @roles = qw/White Black/;

my $round = 7;

my $roundfile = LoadFile "comp/$round/round.yaml";
my $activities = $roundfile->{activity};

my @ids;
for my $key ( sort keys %$activities ) {
	my $topic = $activities->{$key};
	for my $form ( sort keys %$topic ) {
		my $pairs = $topic->{$form};
	    push @ids, map { @$_{@roles} } @$pairs;
	}
}

if ( $roundfile->{bye} ) {
	push @ids, $roundfile->{bye};
}

if ( $roundfile->{late} ) {
	my $tardies = $roundfile->{late};
	for my $tardy ( @$tardies ) {
		push @ids, $tardy unless any { $tardy eq $_ } @ids;
	}
}

my @sorted = sort @ids;
my @members = map { $m{$_} } @sorted;

# DumpFile "comp/$round/members.yaml", \@members;
