#!/usr/bin/perl;

use strict;
use warnings;
use IO::All;
use YAML qw/LoadFile DumpFile/;
use Cwd;

$_REPL->load_plugin('DumpHistory');

(my $dir = getcwd) =~ s/^.*\/([^\/]*)$/$1/;
use Grades;
my $l = League->new( leagues => '/home/drbean/class', id => $dir );
# my $g = Grades->new({ league => $l });
my %m = map { $_->{id} => $_ } @{ $l->members };

my $t = io 'classwork/1/maketeams';
my @t;
push @t, { id => $_, name => $m{$_}->{name} } for sort keys %m;
my $n = int $#t/4;
if ( my $r = $#t - 4 * $n ) {
	for ( 1 .. $r ) {

# $t->print(@t);
# $t->autoflush;
