#!/usr/bin/perl;

use strict;
use warnings;
use IO::All;
use YAML qw/LoadFile DumpFile/;
use Cwd;

$_REPL->load_plugin('DumpHistory');

my $io = io 'members.txt';
my @m = $io->slurp;
chomp for @m;
$_ = substr( $_, 3 ) for @m;
my $n = $#m / 5;
my @mm = map { {name =>  $m[5*$_+1], Chinese =>  $m[5*$_+1], id => $m[5*$_], password => undef, rating => undef} } 0..$n;

my %o;
for my $league ( reverse qw/MIA0014/ ) {
	my $ol = LoadFile "../$league/league.yaml";
	my $o = $ol->{member};
	$o{$_->{id}} = $_ for @$o;
}

my @mmm = map 	{
			{	name => $o{$_->{id}}->{name} || $_->{name},
				Chinese => $_->{Chinese},
				id => $_->{id},
				password => $o{$_->{id}}->{password},
				rating => undef
			}
		} @mm;
