#!/usr/bin/perl;

use strict;
use warnings;
use IO::All;
use YAML qw/LoadFile DumpFile/;
use Cwd;

$_REPL->load_plugin('DumpHistory');

my $io = io 'members.txt';
my @m = $io->slurp;
chomp for @m;
$_ = [ split ] for @m;
my @mm = map { {name =>  $_->[1], Chinese =>  $_->[1], id => $_->[0], password => undef, rating => $_->[-1]} } @m;
