#!/usr/bin/perl

use Net::Ping;
use Net::Telnet;
use YAML qw/LoadFile DumpFile/;

$_REPL->load_plugin('DumpHistory');

my $p = Net::Ping->new("external", 2);

my @p_141;
# $p->ping('127.0.0.1');
for ( 0..255 ) {
	push @p_141, $_ if $p->ping("210.153.141.$_") ;
}
my @p_142;
for ( 0..127 ) {
	push @p_142, $_ if $p->ping("210.153.142.$_") ;
}

#my @h;
#for ( 512..767 ) {
#	my $x = qx/"host" "pl$_.nas921.nara.nttpc.ne.jp"/;
#	$x =~ s/^.*address (\d*\.\d*\.\d*\.\d*)/$1/;
#	push @h, $x;
#}
#
#for ( 768..895 ) {
#	my $x = qx/"host" "pl$_.nas921.nara.nttpc.ne.jp"/;
#	$x =~ s/^.*address (\d*\.\d*\.\d*\.\d*)/$1/;
#	push @h, $x;
#}

#my $t = Net::Telnet->new( Port => 80, Timeout => 10, errmode => "Return" );
#my @tp;
#for ( @p ) {
#	push @tp, $p if open( host => "210.153.141.$_" )
#}


for my $n ( @p_141 ) {
	qx/"wget" "-t 1" "-T 4" "210.153.141.$n"/;
}
for my $n ( @p_142 ) {
	qx/"wget" "-t 1" "-T 4" "210.153.142.$n"/;
}
for my $n ( 56 ) {
	qx/"wget" "-t 1" "-T 4" "210.153.142.$n"/;
}
