$name = '高來圭'
my $name = '高來圭'
$name =~ m/^[[:alpha:]'-]+\d?$/
$name =~ m/[[:alpha:]]$/
$name = 'Greg'
$name =~ m/[[:alpha:]]$/
'高來圭' =~ m/^[[:alpha:]]*$/
'高來圭' =~ m/^[\w]*$/
'高來圭' =~ m/^\w*$/
chdir 'class/'
getcwd
use Cwd
getcwd
glob 'BMA0100/homework/*.yaml'
my @files = glob 'BMA0100/homework/*.yaml'
s/^(\d)(.*)\.yaml$/$1.$2.yaml/ for @files
@files
s/^(\d)(.*)\.yaml$/$1\.$2\.yaml/ for @files
@files
s/^BMA0100\/homework\/(\d)(.*)\.yaml$/$1\.$2\.yaml/ for @files
@files
my @files = glob 'BMA0100/homework/*.yaml'
s/^BMA0100\/homework\/(\d)([^.]*)\.yaml$/BMA0100\/homework\/$1\.$2\.yaml/ for @files
@files
 @files = glob 'BMA0100/homework/*.yaml'
s/^BMA0100\/homework\/(\d)([^\.]*)\.yaml$/BMA0100\/homework\/$1\.$2\.yaml/ for @files
@files
 @files = glob 'BMA0100/homework/*.yaml'
s/^BMA0100\/homework\/(\d)([^\.]yaml$/BMA0100\/homework\/$1\.$2\.yaml/ for @files
s/^BMA0100\/homework\/(\d)([^\.]\.)yaml$/BMA0100\/homework\/$1\.$2\.yaml/ for @files
@files
s/^BMA0100\/homework\/(\d)([^.]\.)yaml$/BMA0100\/homework\/$1\.$2\.yaml/ for @files
@files
s/^BMA0100\/homework\/(\d)([^.]+\.)yaml$/BMA0100\/homework\/$1\.$2\yaml/ for @files
@files
 @files = glob 'BMA0100/homework/*.yaml'
my @name = map { s/^BMA0100\/homework\/(\d)([^.]+\.)yaml$/BMA0100\/homework\/$1\.$2\yaml/  } @files
my @name = map { s/^BMA0100\/homework\/(\d)([^.]+\.)yaml$/BMA0100\/homework\/$1\.$2\yaml/; $_  } @files
my @name = map { s/^BMA0100\/homework\/(\d)([^\.]+\.)yaml$/BMA0100\/homework\/$1\.$2\yaml/; $_  } @files
my @names = map { s/^BMA0100\/homework\/(\d)([^\.]+\.)yaml$/BMA0100\/homework\/$1\.$2\yaml/; $_  } @files
rename ( $files[0], $name[0] )
rename ( $files[1], $name[1] )
rename ( $files[1], $names[1] )
$files[1]
$names[1]
 @files = glob 'BMA0100/homework/*.yaml'
rename ( $files[1], $names[1] )
rename ( $files[5], $names[5] )
rename ( $files[3], $names[3] )
 @files = glob 'BMA0099/homework/*.yaml'
 @names = map { s/^(BMA0099\/homework\/\d)([^\.]+\.)yaml$/BMA0100\/homework\/$1\.$2\yaml/; $_  } @files
 @names = map { s/^(BMA0099\/homework\/\d)([^\.]+\.)yaml$/$1\.$2\yaml/; $_  } @files
@files
 @files = glob 'BMA0099/homework/*.yaml'
 @names = map { m/^(BMA0099\/homework\/\d)([^\.]+\.)yaml$/; "$1.$2.yaml"  } @files
 @files = glob 'BMA0099/homework/*.yaml'
 @names = map { s/^(BMA0099\/homework\/\d)([^\.]+\.)yaml$/$1\.$2\yaml/; $_  } @files
rename ( $files[$_], $names[$_] ) for 1,3,5
rename ( $files[$_], $names[$_] ) for (1,3,5)
rename ( $files[1], $names[1] )
@files
@names
 @files = glob 'BMA0099/homework/*.yaml'
rename ( $files[$_], $names[$_] ) for (1,3,5)
 @files = glob 'MIA0017/homework/*.yaml'
 @names = map { m/^(MIA0017\/homework\/\d)([^\.]+\.)yaml$/; "$1.$2.yaml"  } @files
@files
rename ( $files[$_], $names[$_] ) for (1,3,5)
 @files = glob 'FLA0030/homework/*.yaml'
for ( @files ) {  m/^(MIA0017\/homework\/\d)([^\.]+\.)yaml$/; push @names, "$1.$2.yaml" if $1 }
@names
@names = ()
@names
for ( @files ) {  m/^(FLA0030\/homework\/\d)([^\.]+\.)yaml$/; push @names, "$1.$2.yaml" if $1 }
@names
for ( @files ) {  m/^(FLA0030\/homework\/\d)([^\.]+\.)yaml$/; push @names, "$1.$2yaml" if $1; undef $1 }
@files
for ( @files ) {  local $1; m/^(FLA0030\/homework\/\d)([^\.]+\.)yaml$/; push @names, "$1.$2yaml" if $1;  }
@files
@names
undef @names
for ( @files ) {  local $1; m/^(FLA0030\/homework\/\d)([^\.]+\.)yaml$/; push @names, "$1.$2yaml" if $1;  }
@names
for ( @files ) {  push @names, "$1.$2yaml" if m/^(FLA0030\/homework\/\d)([^\.]+\.)yaml$/;  }
@names
undef @names
for ( @files ) {  if ( m/^(FLA0030\/homework\/\d)([^\.]+\.)yaml$/ ) { push @names, "$1.$2yaml"  ; else { push @names, $_ }  }
for ( @files ) {  if ( m/^(FLA0030\/homework\/\d)([^\.]+\.)yaml$/ ) { push @names, "$1.$2yaml" } ; else { push @names, $_ }  }
for ( @files ) {  if ( m/^(FLA0030\/homework\/\d)([^\.]+\.)yaml$/ ) { push @names, "$1.$2yaml"; }  else { push @names, $_ }  }
@names
@fils
@files
rename ( $files[$_], $names[$_] ) for (1,3,5)
$_REPL->load_plugin('DumpHistory')
:dump rawscorefilename.rc
