#!/usr/bin/perl

use strict;
use warnings;
use List::MoreUtils qw/any/;
use YAML qw/LoadFile DumpFile/;
use Cwd; use File::Basename;

# $_REPL->load_plugin('DumpHistory');

my $dir = basename( getcwd );

my $yaml = LoadFile 'league.yaml';
my $members = $yaml->{member};

my ($oldfile, $oldies);

for my $league ( qw/FLA0030 FLA0014 GL00013 CLA0023 BMA0071 MIA0014/ ) {
	$oldies = LoadFile '../BMA0071/league.yaml';
	$oldies = $oldies->{member};
	for my $oldie ( @$oldies ) {
		push @$members, $oldie unless
			any { $_->{id} eq $oldie->{id} } @$members;
	}
}

my @semesters = glob ( '../records/9*' );
for my $league ( @semesters ) {
	$oldies = LoadFile "$league/league.yaml";
	$oldies = $oldies->{member};
	for my $oldie ( @$oldies ) {
		push @$members, $oldie unless
			any { $_->{id} eq $oldie->{id} } @$members;
	}
}

$yaml->{member} = $members;
DumpFile 'newleague.yaml', $yaml;
