use YAML qw/LoadFile DumpFile/;

my @ids = qw/GL00038 GL00040/;
my %leagues;
$leagues{$_} = LoadFile "/home/drbean/class/$_/league.yaml" for @ids;
my %member = map { my $league = $leagues{$_}; $_ => { map { $_->{id} => $_ } @{ $league->{member} } } } @ids;

my %pictures = map { $_ => LoadFile "$_/exam4/picture.yaml" } @ids;
my %discussion = map { $_ => LoadFile "$_/exam4/discussion.yaml" } @ids;
my %performance = map { $_ => LoadFile "$_/exam4/performance.yaml" } @ids;

my %groups = map { $_ => LoadFile "$_/fourth/groups.yaml" } @ids;

my %newgroups = map {
			my $league = $_;
			$league => {	blue => $groups{$league}->{Blue},
					red => $groups{$league}->{Red},
					white => $groups{$league}->{White} || $groups{$league}->{Yellow}
					};
					} @ids;

my %averages = map {
			my $league = $_;
			{ 
				$league => {
						map { $_ => (
							$pictures{$league}->{$_} +
							$discussion{$league}->{$_} +
							$performance{$league}->{$_} ) / 3
							}
							keys %{ $newgroups{$league} } 
					}
				}
		} 
		@ids;

my $member2group;

for my $league ( @ids ) {
	while ( my ($group, $members) = each %{ $newgroups{$league} } ) {
		for my $member ( @$members ) {
			$member2group->{$league}->{$member} = $group;
		}
	}
}

my %g = map {
		my $league = $_;
		$league => { map {
				my $name = $member{$league}->{$_}->{name};
				$_ => $averages{$league}->{ $member2group->{$league}->{$name} };
				} keys %{ $member{$league} }
			};
		} @ids;

DumpFile "$_/exam4/g.yaml", $g{$_} for @ids;

