#!/usr/bin/perl

use strict;
use warnings;
use IO::All;
use YAML qw/LoadFile DumpFile/;
use Cwd;

$_REPL->load_plugin('DumpHistory');

(my $dir = getcwd) =~ s/^.*\/([^\/]*)$/$1/;
use Grades;
my $l = League->new( leagues => '/home/drbean/class', id => $dir );
my $g = Grades->new({ league => $l });
my %m = map { $_->{id} => $_ } @{ $l->members };
my $approach = $l->approach;

my $round = 6;
my $ex = "breakstone";
my $grades = LoadFile "homework/$round.yaml";
my $points = LoadFile "homework/$round.$ex.yaml";
my $new = { exercise => $ex, grade => $grades, points => $points };

rename "homework/$round.yaml", "homework/$round.yaml.orig";
DumpFile "homework/$round.yaml", $new;
