#!/usr/bin/perl

# Deprecated. Use school_data.pl instead.

use strict;
use warnings;
use IO::All;
use YAML qw/LoadFile DumpFile/;
use Cwd; use File::Basename;
use Encode;
use Lingua::Han::PinYin;

my $semester = "021";
my $school	= "nuu";
my $dir = basename( getcwd );

use Grades;
my $l = League->new( leagues => "/home/drbean/$semester", id => $dir );
my $g = Grades->new({ league => $l });
my $c = $l->yaml;
my %m = map { $_->{id} => $_ } @{ $l->members };
my $io = io("../../admin/$semester/$school/$dir.txt");
my $h2p = Lingua::Han::PinYin->new;
my @members;
my @lines = $io->slurp;
for my $line ( @lines ) {
	my $dline = decode( 'UTF-8', $line);
	chomp $dline;
	my ($n, $id, $name, $other) = split ' ', $dline; 
	my $char = substr $name, 1, 1;
	my $p = $h2p->han2pinyin1( $char );
	push @members, {
		id => $id,
		Chinese => $name,
		name => $name,
		password => $p,
		rating => undef,
	};
}
$c->{member} = \@members;
DumpFile 'league.yaml', $c;
