#!/usr/bin/perl

use strict;
use warnings;
use IO::All;
use YAML qw/LoadFile DumpFile/;
use Cwd;

$_REPL->load_plugin('DumpHistory');

(my $dir = getcwd) =~ s/^.*\/([^\/]*)$/$1/;
use Grades;
use Grades::Groupwork;
my $l = League->new( leagues => '/home/drbean/002', id => $dir );
my $g = Grades->new({ league => $l });
my $c = Compcomp->new({ league => $l });
my %m = map { $_->{id} => $_ } @{ $l->members };
my $approach = $l->approach;

my  %g2 = map { my $p = $_; $_ =>  5 * (sum ( map { sum values %{ $n->{$p}->{$_} } } keys %{$n->{$p}} ) ) / 27 } keys %m;
DumpFile 'exam/2/newsscores.yaml', \%g1;
