use YAML qw/LoadFile DumpFile/;

my $area = 'eight_nine';
my $c = LoadFile "$area/cards.yaml";

# my $topic = 'story';
# my $form = '0';

my $topic = '12';
my $form = '1';

my @q = map { $_->{question} } @{ $c->{$topic}->{compcomp}->{$form}->{quiz} };

$topic = '24';
$form = '1';

push @q, map { $_->{question} } @{ $c->{$topic}->{compcomp}->{$form}->{quiz} };

$topic = '6';
$form = '0';

push @q, map { $_->{question} } @{ $c->{$topic}->{compcomp}->{$form}->{quiz} };

# $topic = 'wardead';
# $form = '0';
# 
# push @q, map { $_->{question} } @{ $c->{$topic}->{compcomp}->{$form}->{quiz} };

# DumpFile "$area/setquestions.yaml", \@q;
