#!/usr/bin/perl

use strict;
use warnings;
use IO::All;
use YAML qw/LoadFile DumpFile/;
use Cwd;

$_REPL->load_plugin('DumpHistory');

(my $dir = getcwd) =~ s/^.*\/([^\/]*)$/$1/;
use Grades;
use Grades::Groupwork;
my $l = League->new( leagues => '/home/drbean/022', id => $dir );
my $g = Grades->new({ league => $l });
my $co = Compcomp->new({ league => $l });
my $cl = $g->classwork;
my %m = map { $_->{id} => $_ } @{ $l->members };
my $approach = $l->approach;

my $session = 4;
my $week = 17;

my $y = LoadFile "classwork/$week.yaml";
my $report = $y->{report};
for my $table ( keys %$report ) {
	my $play = $report->{$table};
	for my $letter ( keys %$play ) {
		my $winner = $report->{$table}->{$letter}->{winner};
		next if ( $winner eq "Unplayed" or $winner eq  "None" );
		# TODO die "Who won of $letter letter at $table table" if none ($winner) ;
		$y->{$winner}->{merits}++;
	}
}
my $cans = $cl->beancan_names($session);
for my $can ( keys %$cans ) {
	my $n = scalar values $cans->{$can};
	my $wins = $y->{$can}->{merits} || 0;
	$y->{$can}->{merits} = sprintf( '%.2f', 2 + $wins/$n);
}
