#!/usr/bin/perl;

use strict;
use warnings;
use IO::All;
use YAML::XS qw/LoadFile DumpFile/;
use Cwd;

$_REPL->load_plugin('DumpHistory');

(my $dir = getcwd) =~ s/^.*\/([^\/]*)$/$1/;
use Grades;
use Grades::Groupwork;
my $l = League->new( leagues => '/home/drbean/051', id => $dir );
my $g = Grades->new({ league => $l });
my $co = Compcomp->new({ league => $l });
# my $cl = $g->homework;
my %m = map { $_->{id} => $_ } @{ $l->members };
my $approach = $l->approach;

# $g->homeworkPercent;
# my $two = LoadFile 'homework/2.yaml';
# my $three = LoadFile 'homework/4.yaml';
# my $four = LoadFile 'homework/4.yaml';
# my $five = LoadFile 'homework/5.yaml';
# my $six = LoadFile 'homework/6.yaml';
# my $seven = LoadFile 'homework/7.yaml';
# my $eight = LoadFile 'homework/8.yaml';
# my %n = map { $m{$_}->{name} => $m{$_} } keys %m;
# $seven;
# my %sevenup = map { $_ => $seven->{$_}->{merits} == 0 ? 0 : $seven->{$_}->{merits} < 30 ? 67 : $seven->{$_}->{merits} < 50 ? 80 : 100 } keys %n;
# $two;
# $four;
# #my %sevenup = map { $_ => $seven->{$_}->{merits} == 0 ? 0 : $seven->{$_}->{merits} < 30 ? 67 : $seven->{$_}->{merits} < 50 ? 80 : 100 } keys %n;
# my %four = map { $_ => $four->{$_}->{merits} == 0 ? 0 : $four->{$_}->{merits} < 50 ? 67 : $four->{$_}->{merits} < 100 ? 80 : 100 } keys %n;
# $five;
# #my %four = map { $_ => $four->{$_}->{merits} == 0 ? 0 : $four->{$_}->{merits} < 50 ? 67 : $four->{$_}->{merits} < 100 ? 80 : 100 } keys %n;
# my %five = map { my $m = $five->{$_}->{merits} ; $_ => $m < 40 ? 67 : $m < 90 ? 80 : 100 } keys %n;
# $six;
# $seven;
# #my %five = map { my $m = $five->{$_}->{merits} ; $_ => $m < 40 ? 67 : $m < 90 ? 80 : 100 } keys %n;
# my %seven = map { my $m = $seven->{$_}->{merits} ; $_ => $m == 0 ? 0 : $m < 40 ? 67 : $m < 50 ? 80 : $m < 60 ? 90 : 100 } keys %n;
# $eight;
# my %total  = map { $n{$_}->{id} => ( $two{$_}->{merits} + $four{$_}->{merits} + $five{$_}->{merits} + $six{$_}->{merits} + $seven{$_}->{merits} + $eight{$_}->{merits} ) / 6 } keys %n;
# $two;
# $six;
# $eight;
# my %total  = map { $n{$_}->{id} => ( $two->{$_}->{merits} + $four{$_}->{merits} + $five{$_}->{merits} + $six->{$_}->{merits} + $seven{$_}->{merits} + $eight->{$_}->{merits} ) / 6 } keys %n;
# $two->{Antonio}->{merits};
# $four{Antonio}->{merits};
# %four;
# my %total  = map { $n{$_}->{id} => ( $two->{$_}->{merits} + $four{$_} + $five{$_}->{merits} + $six->{$_}->{merits} + $seven{$_} + $eight->{$_}->{merits} ) / 6 } keys %n;
# my %total  = map { $n{$_}->{id} => ( $two->{$_}->{merits} + $four{$_}->{merits} + $five{$_}->{merits} + $six->{$_}->{merits} + $seven{$_}->{merits} + $eight->{$_}->{merits} ) / 6 } keys %n;
# my %total  = map { $n{$_}->{id} => ( $two->{$_}->{merits} + $four{$_} + $five{$_} + $six->{$_}->{merits} + $seven{$_} + $eight->{$_}->{merits} ) / 6 } keys %n;
# DumpFile 'homework/total.yaml', \%total;
# $g->homeworkPercent;
# $g->homeworkPercent;
# $_REPL->load_plugin('DumpHistory');
# :dump total;
# :dump total.rc;
# $g->grades;
# my $w0 = LoadFile 'homework/0.yaml';
# my $w1 = LoadFile 'homework/1.yaml';
my $w2 = LoadFile 'homework/2.yaml';
my $w3 = LoadFile 'homework/3.yaml';
my $w31 = LoadFile 'homework/31.yaml';
# my $w4 = LoadFile 'homework/4.yaml';
my $w5 = LoadFile 'homework/5.yaml';
my $w51 = LoadFile 'homework/51.yaml';
# my $w6 = LoadFile 'homework/6.yaml';
# my $w7 = LoadFile 'homework/7.yaml';
# my $w8 = LoadFile 'homework/8.yaml';
my $w10 = LoadFile 'homework/10.yaml';
# my $w11 = LoadFile 'homework/11.yaml';
my $w12 = LoadFile 'homework/12.yaml';
# my $w13 = LoadFile 'homework/13.yaml';
my $w14 = LoadFile 'homework/14.yaml';
my $w15 = LoadFile 'homework/15.yaml';
# my $w151 = LoadFile 'homework/151.yaml';
# my $w152 = LoadFile 'homework/152.yaml';
# my $w153 = LoadFile 'homework/153.yaml';
# my $w154 = LoadFile 'homework/154.yaml';
my $w16 = LoadFile 'homework/16.yaml';
# my $w17 = LoadFile 'homework/17.yaml';
# my %total = map { $_ => ( $w0->{$_} + $w1->{$_} + $w2->{$_} + $w4->{$_} + $w5->{$_} + $w6->{$_} + $w7->{$_} + $w8->{$_} + $w10->{$_} + $w11->{$_} + $w12->{$_} + $w13->{$_} + $w15->{$_} + $w16->{$_} + $w17->{$_} ) / 13 } keys %m;
# my %total = map { $_ => ( $w0->{$_} + $w1->{$_} + $w2->{$_} + $w4->{$_} + $w6->{$_} + $w7->{$_} + $w10->{$_} + $w12->{$_} + $w151->{$_} + $w152->{$_} + $w153->{$_} + $w154->{$_} + $w16->{$_} ) / 13 } keys %m;
my %total = map { $_ => ( $w2->{$_} + $w3->{$_} + $w31->{$_} + $w5->{$_} + $w51->{$_} + $w10->{$_} + $w12->{$_} + $w14->{$_} + $w15->{$_} + $w16->{$_} ) / 10 } keys %m;
DumpFile 'homework/total.yaml', \%total;
$_REPL->load_plugin('DumpHistory');

# :dump total.rc;
## :dump ~/051/rc/total.rc;
# :dump ../rc/total.rc;
