[% META title = "Game over" %]

[% coursename = [ "WH", "YN", "Tag", "TF"] %]
[% IF gameover == 1 %]
<h1>CONGRATULATIONS</h1>

You wrote down translations for 18O words.

Now start learning the words for the Exam in Week 9.

Use the <a href="http://mnemosyne-proj.org">Mnemosyne</a> or <a href="http://ankisrs.net">Anki</a> flash card software.

Dr Bean will upload a deck of cards to the 2 projects' web pages.

