 
<div class=story id="cusp">
<p>
<h2>Questions about Barbara, Eva and Tadeusz and Dr Bean</h2>
</p>

<p>You listened to Barbara, Eva and Tadeusz talk about being sales manager in the soundfiles on <a href="http://ec.must.edu.tw">http://ec.must.edu.tw</a>.  Now ask questions about them:
</p>
<p>
Write the questions in the <a 
href=http://203.64.184.141/cgi-bin/bett/script/bett_cgi.pl/login?exercise=candidate>candidate</a> exercise. (You will be asked to log in.)
</p>
<p>
If that link doesn't work, try the <a href="http://sac.nuu.edu.tw/cgi-bin/bett/script/bett_cgi.pl/login?exercise=candidate"> alternative candidate exercise link </a>.
</div>

<p>The app, called Bett, will tell you whether your question is grammatical, and if it is grammatical, whether your answer is correct.
<h3>Continue to write questions and answers until the app says your question is grammatical and your answer is correct.</h3>
<h4>Do this before Saturday lunchtime October 4</h4>

</p>
<p>
</p>
<p>
</div>

