 
<div class=story id="cusp">
<p>
<h2>Questions about CUSP</h2>
</p>

<p>You listened to Alan Bradshaw and Dot Gourlay talk about CUSP. Now ask questions about CUSP:
<h3>Continue to GAME OVER (6-9 questions with correct answers) before Saturday lunchtime April 19</h3>
</p>
<p>
In the <a href=http://203.64.184.141/cgi-bin/bett/script/bett_cgi.pl/login?exercise=cusp>cusp</a> exercise. (You will be asked to log in.)
</p>
<p>
If that link doesn\'t work, try the <a href="http://sac.nuu.edu.tw/cgi-bin/bett/script/bett_cgi.pl/login?exercise=cusp"> alternative cusp exercise link </a>.
</div>

