 
<div class=story id="cusp">
<p>
<h2>Questions about Barbara, Eva and Tadeusz and Dr Bean</h2>
</p>

<p>You listened to Barbara, Eva and Tadeusz and Dr Bean talk about being sales manager.  Now ask questions about them:
<h3>Send one question and answer to drbean@freeshell.org</h3>.
<p>Dr Bean will reply telling you whether your question is grammatical, and if it is grammatical, whether your answer is correct.
<h3>Continue to send questions and answers until Dr Bean says your question is grammatical and your answer is correct.</h3>
<h4>Do this before Saturday lunchtime September 27</h4>

</p>
<p>
</p>
<p>
</div>

