<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml11.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>

  ConversationdDictations -


  </title>

</head>
<body>

<h1>
ConversationdDictations
</h1>

<p>
<b>Intermediate students.</b>

<h3><a name=<TMPL>$topic[0]{id}</TMPL>><TMPL>$topic[0]{title}</TMPL></a></h3>

<h4><a name=<TMPL>$topic[0]{story}[0]{id}</TMPL>><TMPL>$topic[0]{story}[0]{title}</TMPL></a></h4>

<p>
<TMPL>$topic[0]{story}[0]{blurb}</TMPL>
</p>

<p>
<TMPL>$topic[0]{story}[0]{comment}</TMPL>
</p>

<p>
Fill in the blanks in the <a href=http://203.64.184.141/cgi-bin/dic/script_files/dic_cgi.pl/login/<TMPL>$topic[0]{story}[0]{id}</TMPL>><TMPL>$topic[0]{story}[0]{id}</TMPL></a> exercise.
</p>

<h4><a name=<TMPL>$topic[0]{story}[1]{id}</TMPL>><TMPL>$topic[0]{story}[1]{title}</TMPL></a></h4>

<p>
<TMPL>$topic[0]{story}[1]{blurb}</TMPL>
</p>

<p>
<TMPL>$topic[0]{story}[1]{comment}</TMPL>
</p>

<p>
Fill in the blanks in the <a href=http://203.64.184.141:3000/cgi-bin/dic/script_files/dic_cgi.pl/login/<TMPL>$topic[0]{story}[1]{id}</TMPL>><TMPL>$topic[0]{story}[1]{id}</TMPL></a> exercise.
</p>

<p>
<h1>Old Topics</h1>
</p>


<h3><a name=<TMPL>$topic[1]{id}</TMPL>><TMPL>$topic[1]{title}</TMPL></a></h3>

<h4><a name=<TMPL>$topic[1]{story}[0]{id}</TMPL>><TMPL>$topic[1]{story}[0]{title}</TMPL></a></h4>

<p>
<TMPL>$topic[1]{story}[0]{blurb}</TMPL>
</p>

<p>
<TMPL>$topic[1]{story}[0]{comment}</TMPL>
</p>

<h4><a name=<TMPL>$topic[1]{story}[1]{id}</TMPL>><TMPL>$topic[1]{story}[1]{title}</TMPL></a></h4>

<p>
<TMPL>$topic[1]{story}[1]{blurb}</TMPL>
</p>

<p>
<TMPL>$topic[1]{story}[1]{comment}</TMPL>
</p>

</body>
</html>



