[% IF book == 'marketleader' %]
[% bookname = 'New Edition--Market Leader Pre-intermediate Business English' %]
[% ELSIF book == 'beyondlanguage' %]
[% bookname = 'Beyond Language: Cross-cultural communication (Second edition)' %]
[% ELSE %][% bookname = 'Which book??' %]
[% END %]

