[% META title = "Vocabulary Quiz Results" %]

<H1>Results for [% player %] in the vocabulary quiz for the [% exercise %] Exercise in the [% league %] league.</H1>

<H2>Words attempted: [% pre_total %]/179</H2>

<H3>Words attempted and correct: [% pre_correct %]</H3>

<TABLE>
<TR><TH>Word <TH>Answer
[% FOREACH one IN right.keys.sort %]
<TR>
<TD>??[% one %]
<TD>[% answers.$one %]
[% END %]
</TABLE>

<H3>Words attempted but incorrect: [% pre_incorrect %]</H3>

<TABLE>
<TR><TH>Word <TH>Your answer <TH>Correct answer
[% FOREACH one IN wrong.keys.sort %]
<TR>
<TD>[% one %]
<TD>[% wrong.$one %]
<TD>[% answers.$one %]
[% END %]
</TABLE>

<H4>Maximum targeted in exam: [% pre_incorrect %]</H4>

<H2>Words unattempted: [% unattempted %]</H2>

<TABLE>
<TR><TH>Word <TH>Answer
[% FOREACH one IN passed.keys.sort %]
<TR>
<TD>[% one %]
<TD>[% answers.$one %]
[% END %]
</TABLE>

<h2>Now,</h2>

<br>
You studied all the words on <a href="http://www.memrise.com">Camuel, Winny, Nini and Vram's lists</a>, on the <a href="http://www.memrise.com">http://www.memrise.com</a> website. You may have had to login, by creating an ID or using a Facebook ID.

<h3>And/or</h3>

<br>
You downloaded a personalized Anki <a href="http://web.nuu.edu.tw/~greg/tech/flash/[% player %].txt">flashcard deck with the words targeted for [% player %] in the exam</a>.
</br>

<br>
Don't view the file. Download it.
</br>


<br>
The download method for the file, named [% player %].txt, will depend on the browser.
</br>

<br>
If you're using Internet Explorer, you can &lt;Right-Click&gt; the link,
and <Left-Click> Save As ..

Then choose somewhere to put it on your computer.

</br>

<br>
On Firefox, view the file, then &lt;Right-click&gt; and click "Save as ..".
</br>

<br>
On other browsers, it may be &lt;Alt-Left-click&gt; or &lt;Ctrl-Left-click&gt; or something. 
</br>

<br>
Then, install the <a href="http://ankisrs.net">Anki</a> or <a href="http://mnemosyne-proj.org">Mnemosyne</a> flash card software.
</br>

<br>
Create a new deck, [% exercise %], and import the file into the [% exercise %] deck.
</br>

